{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COUNTING PAGE</title>
    <link rel="stylesheet" href="{% static 'wordcount.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Noto+Serif+KR" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <h2><a class="nav-link" href="{% url 'home' %}">WORDCOUNT</a></h2>
            </div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <h3><a class="nav-link" href="{%url 'home'%}">HOME</a></h3>
                    </li>
                    <li class="nav-item">
                        <h3><a class="nav-link" href="{%url 'about'%}">ABOUT US</a></h3>
                    </li>
                </ul>
        </nav>
        <div class="base">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <h5>made by Alieen</h5>
    </footer>
</body>
</html>